:root{
    --header: black;
    --padd: 20px;
    --background: linear-gradient(to right, violet, blueviolet);
}

body{
    color: white;
    background-image: var(--background);
}
header.h {
    color: red;
    border: solid 0px;
    border-radius: 50px;
    background-color: var(--header);
    padding: var(--padd);
  }
  
  h1.title {
    text-align: center;
  }