:root{
    --header: black;
    --padd: 20px;
    --background: linear-gradient(to right, violet, blueviolet);
}

body{
    color: white;
    background-image: var(--background);
}
header.h {
    color: red;
    border: solid 0px;
    border-radius: 50px;
    background-color: var(--header);
    padding: var(--padd);
  }
  
  h1.title {
    text-align: center;
  }
  aside.descrip{
    color: white;
    padding: var(--padd);
    text-align: center;
    background-color: darkgray;
    border: solid 0px;
    border-radius: 50px;
}
button{
    color: black;
    border: solid 0px;
    border-radius:40px;
    border-collapse: collapse;
    
}
iframe{
  text-align: center;
  align-items: center;
}
aside.detail{
  background-color: antiquewhite;
  color: black;
  position: absolute;
  right: 20px;
}
footer.foot{
  padding: var(--padd);
  color: white;
  background-color: var(--header);
}
